<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.tandur">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tandur">
        <activity
            android:name=".view.KonfirmasiPembayaranActivity"
            android:exported="true" />
        <activity
            android:name=".view.MetodePembayaranActivity"
            android:exported="true" />
        <activity
            android:name=".view.KonfirmOrderActivity"
            android:exported="true" />
        <activity
            android:name=".view.urban_farming.KonfirmasiSewakanLahanActivity"
            android:exported="true" />
        <activity
            android:name=".view.urban_farming.DetailSewakanLahanActivity"
            android:exported="true" />
        <activity
            android:name=".view.urban_farming.SewakanLahanActivity"
            android:exported="true" />
        <activity
            android:name=".view.urban_farming.UrbanFarmingActivity"
            android:exported="true" />
        <activity android:name=".view.signup.KonfirmasiActivity" />
        <activity android:name=".view.signup.VerifikasiFotoActivity" />
        <activity android:name=".view.signup.BiodataActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".view.AppIntroActivity" />
        <activity android:name=".view.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />

        <service
            android:name=".notif.MyFireBaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".notif.MyFirebaseIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_logo_splash_screen" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>